<!--
  Generated template for the AnimalLogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark" align-title ="center" >
    <ion-title>Log Feeding</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item text-wrap>
    Would you like to log that this animal was fed at {{renderDate()}}?
  </ion-item>


  <ion-row>
    <ion-item col-6>
      <ion-label>Amount of food fed:</ion-label>
      <ion-input type = "number" [(ngModel)] = "food_amnt"></ion-input>
    </ion-item>

    <ion-item col-6>
      <ion-label>Unit of Food:</ion-label>
      <ion-select [(ngModel)] = "food_amnt_unit">
        <ion-option [value] = "unit" *ngFor = "let unit of food_amnt_units">{{unit}}</ion-option>
      </ion-select>

    </ion-item>

  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label>(Optional) Name of Food:</ion-label>
      <ion-input type = "text" [(ngModel)] = "food_name" placeholder = "food"></ion-input>
    </ion-item>
  </ion-row>

</ion-content>

<ion-footer>

  <ion-row>

    <button (click) = "confirm()" color = "secondary" margin col ion-button>
      Yes
    </button>

    <button (click) = "modalCancel()" color = "danger" margin col ion-button>
      No
    </button>

  </ion-row>

</ion-footer>
